# data science salaries record and parameters

In [1]:
#importing libraries

In [2]:
import pandas as pd 
import sklearn as slt
import matplotlib.pyplot as plt
import ipywidgets
import numpy as np

In [3]:
dt = pd.read_csv('sald.csv')

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [11]:
#as there are no null values we will be proceeding to next step EDA

0       SE
1       MI
2       MI
3       SE
4       SE
        ..
3750    SE
3751    MI
3752    EN
3753    EN
3754    SE
Name: experience_level, Length: 3755, dtype: object

In [31]:
dt.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [32]:
#since we have smart profiling command though we will make a profile for the record

In [33]:
from pandas_profiling import ProfileReportofileReport

In [34]:
profile=ProfileReport(dt)

In [35]:
profile.to_file(output_file="datascience_salaries.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]